        <% include ./partials/header.ejs %>
        <% include ./partials/user-navigation.ejs %>
        <div class="row row-override">
            <% include ./partials/site-navigation.ejs %>
            <main class="col-sm-9">
                <div class="main-content-div">
                    <h6>HOME > <%= data.item.catalogCategory%> > <%= data.item.itemName.toUpperCase()%></h6>
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="<%= data.item.imageUrl%>" alt="<%= data.item.itemName%>" height="200">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="bolder"><%= data.item.itemName%></h4>
                            <h5><%= data.item.catalogCategory%></h5>
                            <% for(var i=1; i<=5; i++){ %>
                            <span class="fa fa-star <%if(i<=data.item.rating){%>checked<%}%>"></span>
                            <% } %>
                        </div>
                    </div>
                    <div class="row">
                        <a href="/categories/item/saveIt/<%= data.item.itemCode%>" class="btn btn-primary main-content-div <%if(data.index>-1){%>visibility<%}%>">
                            <i class="fa fab fa-heart"></i>
                            Save It</a>
                        <a href="/categories/item/<%= data.item.itemCode%>/feedback"  class="btn btn-primary main-content-div">
                            <i class="fa fas fa-star"></i>
                            Rate It</a>
                        <a href="/categories" class="btn btn-primary main-content-div">Continue Browsing</a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <% for(var i=0; i<data.item.descriptionTitle.length; i++){ %>
                                <h5><%= data.item.descriptionTitle[i] %></h5>
                                <p><%= data.item.description[i] %></p>
                            <% } %>
                        </div>
                        <div class="col-sm-12">
                            <h5>NUTRITION FATCS</h5>
                            <img src="<%= data.item.nutritionFactsImage %>" alt="nutrition-facts">
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <% include ./partials/footer.ejs %>
    </div>
</body>
</html>


