<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Fitness For Life</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
    <div class="container">
        <% include ./partials/header.ejs %>
        <% include ./partials/user-navigation.ejs %>
        <div class="row row-override">
            <% include ./partials/site-navigation.ejs %>
            <main class="col-sm-9">
                <div class="main-content-div">
                    <h6>HOME > <%= data.item.catalogCategory%> > <%= data.item.itemName.toUpperCase()%></h6>
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="<%= data.item.imageURL%>" alt="<%= data.item.itemName%>" height="200">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="bolder"><%= data.item.itemName%></h4>
                            <h5><%= data.item.catalogCategory%></h5>
                            <% for(var i=1; i<=5; i++){ %>
                            <span class="fa fa-star <%if(i<=data.item.rating){%>checked<%}%>"></span>
                            <% } %>
                        </div>
                    </div>
                    <div class="row">
                        <a href="/myItems" class="btn btn-primary main-content-div">
                            <i class="fa fab fa-heart"></i>
                            Save It</a>
                        <a href="/categories/item/<%= data.item.itemCode%>/feedback"  class="btn btn-primary main-content-div">
                            <i class="fa fas fa-star"></i>
                            Rate It</a>
                        <a href="/categories" class="btn btn-primary main-content-div">Back</a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <% for(var i=0; i<data.item.descriptionTitle.length; i++){ %>
                                <h5><%= data.item.descriptionTitle[i] %></h5>
                                <p><%= data.item.description[i] %></p>
                            <% } %>
                        </div>
                        <div class="col-sm-12">
                            <h5>NUTRITION FATCS</h5>
                            <img src="<%= data.item.nutritionFactsImage %>" alt="nutrition-facts">
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <% include ./partials/footer.ejs %>
    </div>
</body>
</html>


