<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fitness For Life</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
    <div class="container">
        <% include header.ejs %>
        <% include user-navigation.ejs %>
        <div class="row row-override">
            <% include site-navigation.ejs %>
            <main class="col-sm-9">
                <div class="main-content-div">
                    <h6>HOME > <%= data.item.catalogCategory%> > <%= data.item.itemName.toUpperCase()%></h6>
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="<%= data.item.imageURL%>" alt="<%= data.item.itemName%>" height="200">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="bolder"><%= data.item.itemName%></h4>
                            <h5><%= data.item.catalogCategory%></h5>
                            <% for(var i=1; i<=5; i++){ %>
                            <span class="fa fa-star <%if(i<=data.item.rating){%>checked<%}%>"></span>
                            <% } %>
                            <%# <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span> %>
                        </div>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-primary main-content-div">
                            <i class="fa fab fa-heart"></i>
                            Save It</button>
                        <button type="button" class="btn btn-primary main-content-div">
                            <i class="fa fas fa-star"></i>
                            Rate It</button>
                    </div>
                    <div class="row">
                        <%# <div class="col-sm-12">
                            <h5>THERE IS ONLY ONE GOLD STANDARD</h5>
                            <ul>
                                <li>10 Consecutive Years of Award Winning Quality</li>
                                <li>World’s Most Trusted Sports Nutrition Brand</li>
                                <li>Whey Protein Isolates: Primary Source</li>
                                <li>5.5 Grams of Naturally Occurring BCAAs</li>
                                <li>4 Grams of Naturally Occurring Glutamine and Glutamic Acid</li>
                                <li>Instantized to Mix Easily Using Just a Glass and Spoon</li>
                                <li>Over 20 Different Flavors to Choose From</li>
                            </ul>
                        </div> %>
                        <div class="col-sm-12">
                            <% for(var i=0; i<data.item.descriptionTitle.length; i++){ %>
                                <h5><%= data.item.descriptionTitle[i] %></h5>
                                <p><%= data.item.description[i] %></p>
                            <% } %>
                            <%# <h5>OPTIMUM TRUE STRENGTH</h5>
                            <p>True Strength is a journey. It never rests, it never quits. It's about overcoming 
                                obstacles, accomplishing goals, and recognizing achievements. And then it resets 
                                to achieve again. As your trusted sports nutrition partner in goal achievement, 
                                ON demonstrates that same passion while crafting our products. From the raw 
                                materials we source to our state-of-the-art manufacturing processes, no compromises 
                                are made. You set the bar higher after every workout, we set the bar higher to 
                                redefine the industry standards and ensure you realize optimum results.</p>
                            <h5>QUALITY</h5>
                            <p>Whey protein isolates are the purest form of whey and the main ingredient in 
                                Gold Standard 100% Whey™. Each serving provides 24 grams of rapidly digesting 
                                whey protein with low levels of fat, cholesterol, lactose and other stuff you 
                                can do without making Gold Standard 100% Whey™ the standard all other proteins 
                                are measured against.</p>
                            <h5>CONSISTENCY</h5>
                            <p>Optimum Nutrition has been spotting the efforts of goal driven individuals 
                                since 1986. As one of the few companies to operate state-of-the-art manufacturing 
                                facilities that are GMP compliant, ON assures that every shake will mix up 
                                effortlessly because of its first-to-market instantization process. You also expect 
                                each shake to taste the same as the last and your next. That's the kind of  
                                consistency ON delivers.</p>
                            <h5>HISTORY & HERITAGE</h5>
                            <p>Optimum Nutrition is legendary for both quality and innovation. In addition to 
                                producing the world's best-selling whey protein, ON's Gold Standard 100% 
                                Casein™ introduced slow-digesting nighttime protein to the weight training 
                                world and Amino Energy created the anytime energy category in sports nutrition. 
                                When technology makes advancements possible, ON will be the company bringing it 
                                first to your shaker cup.</p> %>
                        </div>
                        <div class="col-sm-12">
                            <h5>NUTRITION FATCS</h5>
                            <img src="<%= data.item.nutritionFactsImage %>" alt="nutrition-facts">
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <% include footer.ejs %>
    </div>
</body>
</html>


