<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Fitness For Life</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>

<body>
    <div class="container">
        <% include ./partials/header.ejs %>
        <% include ./partials/user-navigation.ejs %>
        <div class="row row-override">
            <% include ./partials/site-navigation.ejs %>
            <main class="col-sm-9">
                <div class="main-content-div">
                    <h3><%= data.user!=null ? data.user.firstName+"'s Plan" : 'User not logged in'%></h3>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col" class="table-width">Item</th>
                            <th scope="col" class="table-width">Category</th>
                            <th scope="col" class="table-width">My Rating</th>
                            <th scope="col" class="table-width">Made it</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.userProfile!=null){%>
                                <% for(var i=0; i<data.userProfile.userItemList.length; i++){ %>
                                    <tr>
                                        <th scope="row" class="text-align-left">
                                            <%= data.userProfile.userItemList[i].itemName%></th>
                                        <th class="text-align-left"><%= data.userProfile.userItemList[i].catalogCategory%></th>
                                        <th>
                                            <% for(var j=1; j<=5; j++){ %>
                                            <span class="fa fa-star <%if(j<=data.userProfile.userItemList[i].rating){%>checked<%}%>"></span>
                                            <% } %>
                                        </th>
                                        <th>
                                            <%= data.userProfile.userItemList[i].madeIt%>
                                            <a class="btn btn-primary btn-sm" href="/categories/item/<%=data.userProfile.userItemList[i].itemCode%>/feedback" role="button">Update</a>
                                            <a class="btn btn-primary btn-sm" href="/myItems/delete/<%=data.userProfile.userItemList[i].itemCode%>" role="button">Delete</a>
                                        </th>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 main-content-div">
                    <a href="/categories" class="btn btn-primary main-content-div">Continue Browsing</a>
                </div>
                <div class="col-sm-12 main-content-div mt-5">
                    <i class="fa fas fa-bookmark color-red"></i>
                    Indicates that this plan belongs to you
                    <br>Click <a href="#">here</a> to share a new plan!
                </div>
            </main>
        </div>
        <% include ./partials/footer.ejs %>
    </div>
</body>
</html>


